*{
  margin: 0;
  padding: 0;
  color: #404040
}
h1{ 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.8rem;
  font-weight: 400;
}

h2,h3, .LastName{
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color: #648276;
    
  }

ul{
   list-style: none;
}




